<!DOCTYPE html>

<html lang="en">

<head>
  <Title>Slacker News</Title>
  <link href="styles.css" rel="stylesheet"/>
</head>

<h1>SLACKER NEWS</h1>


<form action= "/articles" method="post">

Title:<input type="text" id="title" name="title"><br>
URL:<input type="text" id="url" name="url"><br>
Description:<input type="text" id="description" name="description"><br>
<input type="submit"><br>

</form>



